#logo {
  margin: 30px;
}

/* Header Styling */
header {
  display: flex;
}

#header-text {
  flex: auto;
}

header hr {
  border: 3px solid black;
}

h1 {
  margin-top: 60px;
  font-weight: 100;
  font-size: 40px;
}

/* Nav Styling */
nav {
  margin: 70px 0;
  padding-right: 100px;
  font-size: 25px;
  display: flex;
  justify-content: end;
}

nav span {
  margin-left: 90px;
}

#products-nav span {
  background-color: yellow;
}

#cart-nav span:hover {
  background-color: yellow;
  cursor: pointer;
  position: relative;
}

/* Grid Styling */
#product-grid {
  margin: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}